<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Designed &amp; Developed by</span>
    </div>
    <div class="bottom"
      <span>Ian Sheridan</span>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
      <span>2024</span>
    </div>
  </div>
  <div class="footer__links">
    {% for title in ["twitter", "github"] %}
    {% for title_URL in [ @title + '_url' ] %}
    <a href="{{ title_url}}" target="_blank" title="{{title}}">
      <span class="text">{{title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
    {% endfor %}
  </div>
</footer>
