<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Ian Sheridan</span>, a lifelong New Yorker and artist of various mediums; I alternate between ink, watercolor, charcoal. I'm currently exploring digital art, and posting some of my work on crypto-art platforms. Some of my artwork I've made into stickers that I put up in different places around the world  Creating artwork makes gives me a deep sense of satisfaction. I'm inspired by the works of Ilan Katin, a Berlin-based artist, Vincent Van Gogh, Jackson Pollock, Keith Haring, Bob Ross, and Pete Draws.Show Less
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:ian.sheridan@gmail.com" target="_blank" class="highlight-link"ian.sheridan@gmail.com</a>
    </span>
  </h3>
</header>
