  
    <h2 id="animated">Animated</h2>
    <div class="gallery">
      
        <img src="images/processed/Animated/triangle_heart.gif" alt="triangle_heart.gif" onclick="showModal(this.src)">
      
        <img src="images/processed/Animated/geeniew_.gif" alt="geeniew_.gif" onclick="showModal(this.src)">
      
        <img src="images/processed/Animated/golden eye.gif" alt="golden eye.gif" onclick="showModal(this.src)">
      
        <img src="images/processed/Animated/Cuts_To_The_Bone.gif" alt="Cuts_To_The_Bone.gif" onclick="showModal(this.src)">
      
        <img src="images/processed/Animated/Blue eyed looking.gif" alt="Blue eyed looking.gif" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="aqua-dirt">Aqua dirt</h2>
    <div class="gallery">
      
        <img src="images/processed/Aqua Dirt/Right bracket.jpg" alt="Right bracket.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Ball_Ov_.jpg" alt="Ball_Ov_.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Mouth_Open.jpg" alt="Mouth_Open.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Feather_Head.jpg" alt="Feather_Head.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Aqua_Diff.jpg" alt="Aqua_Diff.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Rushing.jpg" alt="Rushing.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/It.jpg" alt="It.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Rat_Tah_Tat-Tat-Tat_.jpg" alt="Rat_Tah_Tat-Tat-Tat_.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Untitled_Artwork.jpg" alt="Untitled_Artwork.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/Untitled_Artwork 1.jpg" alt="Untitled_Artwork 1.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Aqua Dirt/They're_Grinding.jpg" alt="They're_Grinding.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="flexibots">Flexibots</h2>
    <div class="gallery">
      
        <img src="images/processed/Flexibots/Fake_Ay.jpg" alt="Fake_Ay.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Flexibots/Pink_Hook.jpg" alt="Pink_Hook.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Flexibots/Stepping_Dog.jpg" alt="Stepping_Dog.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Flexibots/Wing_killer_.jpg" alt="Wing_killer_.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="floating-rocks">Floating rocks</h2>
    <div class="gallery">
      
        <img src="images/processed/Floating rocks/blob_in_space.jpg" alt="blob_in_space.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/bend_the_line.jpg" alt="bend_the_line.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/plane_site.jpg" alt="plane_site.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Banana_Crush.jpg" alt="Banana_Crush.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Wonk t’nod i.jpg" alt="Wonk t’nod i.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Blue_Clawing_Things_01.jpg" alt="Blue_Clawing_Things_01.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Blue_Clawing_Things_03.jpg" alt="Blue_Clawing_Things_03.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Blue_Clawing_Things_02.jpg" alt="Blue_Clawing_Things_02.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/stretch_things.jpg" alt="stretch_things.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/brown_face.jpg" alt="brown_face.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Rock_Of_The_Mind.jpg" alt="Rock_Of_The_Mind.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Floating_Lines.jpg" alt="Floating_Lines.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Dances ,.jpg" alt="Dances ,.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Floating rocks/Untitled_Artwork 4.jpg" alt="Untitled_Artwork 4.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="fun-with-color">Fun with color</h2>
    <div class="gallery">
      
        <img src="images/processed/Fun with color/Facing_the_way.jpg" alt="Facing_the_way.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/Face_Fun.jpg" alt="Face_Fun.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/tilting_gracefully.jpg" alt="tilting_gracefully.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/Running_To_the_Wind.jpg" alt="Running_To_the_Wind.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/Divisional_Clarity.jpg" alt="Divisional_Clarity.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/Pulling_Time.jpg" alt="Pulling_Time.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/Blue_Sky_Lava.jpg" alt="Blue_Sky_Lava.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/The_Monster_Mash.jpg" alt="The_Monster_Mash.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/meandering_Mind.jpg" alt="meandering_Mind.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Fun with color/Sliced_Faces.jpg" alt="Sliced_Faces.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="mountain-red-lines">Mountain red lines</h2>
    <div class="gallery">
      
        <img src="images/processed/Mountain Red lines/Mountain_Red_lines_01.jpg" alt="Mountain_Red_lines_01.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Mountain Red lines/Mountain_Red_lines_05.jpg" alt="Mountain_Red_lines_05.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Mountain Red lines/Mountain_Red_lines_04.jpg" alt="Mountain_Red_lines_04.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Mountain Red lines/Mountain_Red_lines_06.jpg" alt="Mountain_Red_lines_06.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Mountain Red lines/Mountain_Red_lines_07.jpg" alt="Mountain_Red_lines_07.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Mountain Red lines/Mountain_Red_lines_02,_03.jpg" alt="Mountain_Red_lines_02,_03.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="my-hands">My hands</h2>
    <div class="gallery">
      
        <img src="images/processed/My hands/The_Closed_Hand.jpg" alt="The_Closed_Hand.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Lava_Hand_.png" alt="Lava_Hand_.png" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Burning_Lifeline.jpg" alt="Burning_Lifeline.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Can_you_see_It.jpg" alt="Can_you_see_It.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Hand held .jpg" alt="Hand held .jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Golden_Hands.jpg" alt="Golden_Hands.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/My_seen_hand.jpg" alt="My_seen_hand.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/At_The_Center_Of_Things.jpg" alt="At_The_Center_Of_Things.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Atmosphere-Org.jpg" alt="Atmosphere-Org.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Feet!.png" alt="Feet!.png" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Red_Crush.jpg" alt="Red_Crush.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/heated_Ice_hand.jpg" alt="heated_Ice_hand.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Reaching.jpg" alt="Reaching.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Reached_.jpg" alt="Reached_.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/How_Should_I_Know.jpg" alt="How_Should_I_Know.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Hands_Together_small.jpg" alt="Hands_Together_small.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Hands_Together_small.png" alt="Hands_Together_small.png" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Hands_Together.jpg" alt="Hands_Together.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Atmosphere.gif" alt="Atmosphere.gif" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Open.jpg" alt="Open.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/My hands/Tri-circle.jpg" alt="Tri-circle.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="rpg">Rpg</h2>
    <div class="gallery">
      
        <img src="images/processed/RPG/tower, Tower of Larasuil.png" alt="tower, Tower of Larasuil.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/tower, lykin and stone, enlarged.png" alt="tower, lykin and stone, enlarged.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/The_Golden_Tower_of_Dagda.png" alt="The_Golden_Tower_of_Dagda.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/tower, Tower of Blood.png" alt="tower, Tower of Blood.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/tower of the most high.png" alt="tower of the most high.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/tower, Forlorcan.png" alt="tower, Forlorcan.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/a_tower_that_was_built_to_rival_the_grand_Towers_of_the_world. 2.png" alt="a_tower_that_was_built_to_rival_the_grand_Towers_of_the_world. 2.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/Tower, tower of moonlight.png" alt="Tower, tower of moonlight.png" onclick="showModal(this.src)">
      
        <img src="images/processed/RPG/tower, Tower of Belegtil.png" alt="tower, Tower of Belegtil.png" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="red-symmetry">Red symmetry</h2>
    <div class="gallery">
      
        <img src="images/processed/Red symmetry/Knives_Everywhere.jpg" alt="Knives_Everywhere.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Red symmetry/Marc's.jpg" alt="Marc's.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Red symmetry/Crazy.jpg" alt="Crazy.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Red symmetry/Sitting_Inside_.jpg" alt="Sitting_Inside_.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Red symmetry/Blood_Fire.jpg" alt="Blood_Fire.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Red symmetry/Grab.jpg" alt="Grab.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Red symmetry/Reaching_.jpg" alt="Reaching_.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="z-root">Z-root</h2>
    <div class="gallery">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 16.jpg" alt="Untitled_Artwork 16.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Facing_the_way.jpg" alt="Facing_the_way.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/blue_on_the_throughs_of_three,_t-shirt.jpg" alt="blue_on_the_throughs_of_three,_t-shirt.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/blue_on_the_throughs_of_three,_t-shirt.png" alt="blue_on_the_throughs_of_three,_t-shirt.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Splatter_Vision.jpg" alt="Splatter_Vision.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/we_all_wear_masks.jpg" alt="we_all_wear_masks.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/grab_it_now.jpg" alt="grab_it_now.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/weee_zah_ard.png" alt="weee_zah_ard.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/92259c42098636171dede778193c7e17.jpg" alt="92259c42098636171dede778193c7e17.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Red_thingy2.jpg" alt="Red_thingy2.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 17.jpg" alt="Untitled_Artwork 17.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Kaleidoscope not found.jpg" alt="Kaleidoscope not found.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Sitting_Inside.jpg" alt="Sitting_Inside.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 15.jpg" alt="Untitled_Artwork 15.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 29.jpg" alt="Untitled_Artwork 29.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/don't_talk.jpg" alt="don't_talk.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Fisting_The_Universe.jpg" alt="Fisting_The_Universe.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 9.jpg" alt="Untitled_Artwork 9.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Reach_out.jpg" alt="Reach_out.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Light stabbing the rocks.png" alt="Light stabbing the rocks.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/fly!.jpg" alt="fly!.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 8.jpg" alt="Untitled_Artwork 8.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/be_he_he.jpg" alt="be_he_he.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Green_Egg.jpg" alt="Green_Egg.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 28.jpg" alt="Untitled_Artwork 28.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 14.jpg" alt="Untitled_Artwork 14.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Lines_Yelling_at_Eachother.jpg" alt="Lines_Yelling_at_Eachother.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Marc's.jpg" alt="Marc's.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 38.jpg" alt="Untitled_Artwork 38.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 10.jpg" alt="Untitled_Artwork 10.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/blood_on_canvas.jpg" alt="blood_on_canvas.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/the_red_lines_of_wrath.jpg" alt="the_red_lines_of_wrath.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/M_Mini.png" alt="M_Mini.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Text_Marks_The_Spot.png" alt="Text_Marks_The_Spot.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Two_ring.jpg" alt="Two_ring.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/things_are_here.jpg" alt="things_are_here.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Crazy.jpg" alt="Crazy.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/TowerRPG, Logo, final.png" alt="TowerRPG, Logo, final.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/M_Mini.jpg" alt="M_Mini.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/monster brain with tenticles.png" alt="monster brain with tenticles.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Bite_It.jpg" alt="Bite_It.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Bank_Of_shadows.jpg" alt="Bank_Of_shadows.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Brewing_Dense.jpg" alt="Brewing_Dense.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 11.jpg" alt="Untitled_Artwork 11.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 39.jpg" alt="Untitled_Artwork 39.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 13.jpg" alt="Untitled_Artwork 13.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/brainix 2.png" alt="brainix 2.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/eclectic_love.jpg" alt="eclectic_love.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/magic_mind,_base.jpg" alt="magic_mind,_base.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 12.jpg" alt="Untitled_Artwork 12.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 49.jpg" alt="Untitled_Artwork 49.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/wheel.jpg" alt="wheel.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Yellow_Push.jpg" alt="Yellow_Push.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/i_scream.jpg" alt="i_scream.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Shadow_Horse.jpg" alt="Shadow_Horse.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/bide_your_time.jpg" alt="bide_your_time.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/magic_mind.jpg" alt="magic_mind.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/cyber_explosion.jpg" alt="cyber_explosion.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Crazy lines.png" alt="Crazy lines.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 48.jpg" alt="Untitled_Artwork 48.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blue_gloves.jpg" alt="Blue_gloves.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Stretching out.jpg" alt="Stretching out.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/brrrrrrung,_wip.jpg" alt="brrrrrrung,_wip.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Ian Sheridan.JPG" alt="Ian Sheridan.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blood_Fire.jpg" alt="Blood_Fire.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/logo-sticker.png" alt="logo-sticker.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/wings.png" alt="wings.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Tribesman.jpg" alt="Tribesman.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/depths_do_rise.png" alt="depths_do_rise.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/puppet.jpg" alt="puppet.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/no_words.jpg" alt="no_words.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Qr_iansheridan.png" alt="Qr_iansheridan.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Werething.jpg" alt="Werething.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Face.jpg" alt="Face.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Lines in snow.png" alt="Lines in snow.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Vanessa.jpg" alt="Vanessa.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/green-u.jpg" alt="green-u.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Glowing_Noodles.jpg" alt="Glowing_Noodles.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/animated worldgate.png" alt="animated worldgate.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Red_Face.jpg" alt="Red_Face.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Moon blue planet .jpg" alt="Moon blue planet .jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Fog_Of_War_Overlay.jpg" alt="Fog_Of_War_Overlay.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Bendy.jpg" alt="Bendy.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/green electric age.jpg" alt="green electric age.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lost_in_the_past's_regret,_t-shirt.jpg" alt="lost_in_the_past's_regret,_t-shirt.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lost_in_the_past's_regret,_t-shirt.png" alt="lost_in_the_past's_regret,_t-shirt.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/He's_Mad_At_You.png" alt="He's_Mad_At_You.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Skater.jpg" alt="Skater.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Giants_of_calisus,_Joger_and__Zicish 2.jpg" alt="Giants_of_calisus,_Joger_and__Zicish 2.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 40.jpg" alt="Untitled_Artwork 40.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Observer.jpg" alt="Observer.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Kinda.jpg" alt="Kinda.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/galaxy_of_y.jpg" alt="galaxy_of_y.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Deep_Shadow.jpg" alt="Deep_Shadow.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/coming_forth_two_see.jpg" alt="coming_forth_two_see.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Red jumble .png" alt="Red jumble .png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blink.jpg" alt="Blink.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/A_squiggle_in_dismay.jpg" alt="A_squiggle_in_dismay.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blue_Flying_Dragon_.png" alt="Blue_Flying_Dragon_.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 41.jpg" alt="Untitled_Artwork 41.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/when_screaming_was_not_wnough.jpg" alt="when_screaming_was_not_wnough.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 43.jpg" alt="Untitled_Artwork 43.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/The_earth_void_cavern.jpg" alt="The_earth_void_cavern.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/When_a_red_tower_leads.png" alt="When_a_red_tower_leads.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Nicto.jpg" alt="Nicto.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Swim_Because.jpg" alt="Swim_Because.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Bikini_Flight.jpg" alt="Bikini_Flight.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/wig.jpg" alt="wig.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Spaghetti_Mind.jpg" alt="Spaghetti_Mind.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/i_gotz_skylz.jpg" alt="i_gotz_skylz.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/fuzzy_hair,_t-shirt.png" alt="fuzzy_hair,_t-shirt.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 42.jpg" alt="Untitled_Artwork 42.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/curves_together.jpg" alt="curves_together.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Dfagonhead.jpg" alt="Dfagonhead.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/a_tower_that_was_built_to_rival_the_grand_Towers_of_the_world..jpg" alt="a_tower_that_was_built_to_rival_the_grand_Towers_of_the_world..jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 46.jpg" alt="Untitled_Artwork 46.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/a_tower_that_was_built_to_rival_the_grand_Towers_of_the_world..png" alt="a_tower_that_was_built_to_rival_the_grand_Towers_of_the_world..png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/dee_doo_dot.jpg" alt="dee_doo_dot.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/ Rendered polygon art.png" alt=" Rendered polygon art.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/going_for_the_big_dive.jpg" alt="going_for_the_big_dive.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/plain_sight.jpg" alt="plain_sight.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/zycronis.jpg" alt="zycronis.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Run_For_It_Is_Good.jpg" alt="Run_For_It_Is_Good.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/ahh_ni_mal.png" alt="ahh_ni_mal.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/When_Found_Love_Dies.jpg" alt="When_Found_Love_Dies.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Red_Wall.png" alt="Red_Wall.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 47.jpg" alt="Untitled_Artwork 47.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 45.jpg" alt="Untitled_Artwork 45.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Skull_In_The_Ether.jpg" alt="Skull_In_The_Ether.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/bug on stone.jpg" alt="bug on stone.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/General mo'hiamecus.jpg" alt="General mo'hiamecus.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/something_i_never_knew_about.jpg" alt="something_i_never_knew_about.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blue_Screams.jpg" alt="Blue_Screams.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Spring feels.jpg" alt="Spring feels.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Giants_of_calisus,_Joger_and__Zicish.jpg" alt="Giants_of_calisus,_Joger_and__Zicish.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/i have my eye on you.jpg" alt="i have my eye on you.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 44.jpg" alt="Untitled_Artwork 44.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lines_make_lines.jpg" alt="lines_make_lines.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 50.jpg" alt="Untitled_Artwork 50.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/i purple.jpg" alt="i purple.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/cloud_cover.jpg" alt="cloud_cover.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 37.jpg" alt="Untitled_Artwork 37.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 23.jpg" alt="Untitled_Artwork 23.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 3.jpg" alt="Untitled_Artwork 3.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/What_Do_I_Look_At.jpg" alt="What_Do_I_Look_At.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/black monster.png" alt="black monster.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/idea.jpg" alt="idea.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 2.jpg" alt="Untitled_Artwork 2.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Red flame .jpg" alt="Red flame .jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Flying_colors.png" alt="Flying_colors.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Red_Eye.jpg" alt="Red_Eye.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 22.jpg" alt="Untitled_Artwork 22.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 36.jpg" alt="Untitled_Artwork 36.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/v.jpg" alt="v.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork.jpg" alt="Untitled_Artwork.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Eye see lines.jpg" alt="Eye see lines.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Grab.jpg" alt="Grab.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 20.jpg" alt="Untitled_Artwork 20.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 34.jpg" alt="Untitled_Artwork 34.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork.png" alt="Untitled_Artwork.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Tree_going_to_Xmas.jpg" alt="Tree_going_to_Xmas.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lost_in_the_past's_regret,_t-shirt 2.jpg" alt="lost_in_the_past's_regret,_t-shirt 2.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lost_in_the_past's_regret,_t-shirt 2.png" alt="lost_in_the_past's_regret,_t-shirt 2.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 1.jpg" alt="Untitled_Artwork 1.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Sun_Side_Down.jpg" alt="Sun_Side_Down.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blood_On_Snow.png" alt="Blood_On_Snow.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/find_things.jpg" alt="find_things.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/twin_sight.png" alt="twin_sight.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lines up and down.jpg" alt="lines up and down.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 35.jpg" alt="Untitled_Artwork 35.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 21.jpg" alt="Untitled_Artwork 21.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 19.jpg" alt="Untitled_Artwork 19.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 25.jpg" alt="Untitled_Artwork 25.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 31.jpg" alt="Untitled_Artwork 31.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 5.jpg" alt="Untitled_Artwork 5.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/yipy.jpg" alt="yipy.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/banner_caldoris.jpg" alt="banner_caldoris.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Running_Through_The_Hills.jpg" alt="Running_Through_The_Hills.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 4.jpg" alt="Untitled_Artwork 4.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Water_Dragon.jpg" alt="Water_Dragon.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 30.jpg" alt="Untitled_Artwork 30.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 24.jpg" alt="Untitled_Artwork 24.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Blue face mine.jpg" alt="Blue face mine.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 18.jpg" alt="Untitled_Artwork 18.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Qr_iansheridan.jpeg" alt="Qr_iansheridan.jpeg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled-113.png" alt="Untitled-113.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 32.jpg" alt="Untitled_Artwork 32.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 26.jpg" alt="Untitled_Artwork 26.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/ruff_your_brain.jpg" alt="ruff_your_brain.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 6.jpg" alt="Untitled_Artwork 6.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/brainix.png" alt="brainix.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/lines_we_know.jpg" alt="lines_we_know.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 7.jpg" alt="Untitled_Artwork 7.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Of_today.png" alt="Of_today.png" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Loric, map.jpg" alt="Loric, map.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 27.jpg" alt="Untitled_Artwork 27.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/Z-ROOT/Untitled_Artwork 33.jpg" alt="Untitled_Artwork 33.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="-brushes">_brushes</h2>
    <div class="gallery">
      
        <img src="images/processed/_brushes/Brushes.jpg" alt="Brushes.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/_brushes/Rack, long.jpg" alt="Rack, long.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/_brushes/Square brush.png" alt="Square brush.png" onclick="showModal(this.src)">
      
        <img src="images/processed/_brushes/Rack.jpg" alt="Rack.jpg" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="colored-stones">Colored stones</h2>
    <div class="gallery">
      
        <img src="images/processed/colored stones/Vahse.jpg" alt="Vahse.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0429.JPG" alt="IMG_0429.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/LUMP_Bug.jpg" alt="LUMP_Bug.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Colored bubble.jpg" alt="Colored bubble.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/seen.JPG" alt="seen.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Rock_On.jpg" alt="Rock_On.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Lava_Nose.jpg" alt="Lava_Nose.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Green_Stones.jpg" alt="Green_Stones.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/I_See_Gold.jpg" alt="I_See_Gold.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Blue_Shell.jpg" alt="Blue_Shell.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Stick_and_Tube.jpg" alt="Stick_and_Tube.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/Silver_Bulb.jpg" alt="Silver_Bulb.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0431.JPG" alt="IMG_0431.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0430.JPG" alt="IMG_0430.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/bending_Clay.jpg" alt="bending_Clay.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0433.JPG" alt="IMG_0433.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/silver bulb.JPG" alt="silver bulb.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0436.JPG" alt="IMG_0436.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0434.JPG" alt="IMG_0434.JPG" onclick="showModal(this.src)">
      
        <img src="images/processed/colored stones/IMG_0435.JPG" alt="IMG_0435.JPG" onclick="showModal(this.src)">
      
    </div>
  
    <h2 id="lines-going-every-which-way">Lines going every which way</h2>
    <div class="gallery">
      
        <img src="images/processed/lines going every which way/Brewing_Dense.jpg" alt="Brewing_Dense.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/lines going every which way/When_a_red_tower_leads.png" alt="When_a_red_tower_leads.png" onclick="showModal(this.src)">
      
        <img src="images/processed/lines going every which way/Untitled_Artwork 51.jpg" alt="Untitled_Artwork 51.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/lines going every which way/Untitled_Artwork 45.jpg" alt="Untitled_Artwork 45.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/lines going every which way/Untitled_Artwork 44.jpg" alt="Untitled_Artwork 44.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/lines going every which way/Eye see lines.jpg" alt="Eye see lines.jpg" onclick="showModal(this.src)">
      
        <img src="images/processed/lines going every which way/Sun_Side_Down.jpg" alt="Sun_Side_Down.jpg" onclick="showModal(this.src)">
      
    </div>
  
