<div class="intro"> 
  <h1 class="hello">
    Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <div class="tagline">I'm
    <span class="name">Ian Sheridan</span>, I have Parkinson's Disease and it is the most significant influence on my art. Creating artwork makes gives me a deep sense of satisfaction. I'm inspired by the works of Ilan Katin, a Berlin-based artist, Vincent Van Gogh, Jackson Pollock, Keith Haring, Bob Ross, and Pete Draws.
    <span class="emoji technologist"></span>
  </div>

  <h2 class="contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:ian.sheridan@gmail.com" target="_blank" class="highlight-link">ian.sheridan@gmail.com</a>
    </span>
  </h2>
</div>
